<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Lorem ipsum dolor sit amet consectetur.</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
        aspernatur nihil modi quibusdam aperiam molestias animi soluta
        inventore! Nostrum in architecto recusandae?
      </p>
    </div>
    <a href="#" class="button button--secondary button--padded">Call now</a>
  </div>
</div>
