<div class="collapsible collapsible--expanded">
  <header class="collapsible_header">
    <h2 class="collapsible__heading">Item 1</h2>
    <svg class="icon icon--white collapsible__chevron">
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    <ul class="list">
      <li class="list__item">List item 2</li>
      <li class="list__item">List item 1</li>
      <li class="list__item">List item 3</li>
      <li class="list__item">List item 4</li>
      <li class="list__item">List item 5</li>
      <li class="list__item">List item 6</li>
    </ul>
  </div>
</div>
