<footer class="footer block block--dark">
  <div class="container grid">
    <div class="collapsible collapsible--expanded">
      <header class="collapsible_header">
        <h2 class="collapsible__heading">Products</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="list__item">List item 2</li>
          <li class="list__item">List item 1</li>
          <li class="list__item">List item 3</li>
          <li class="list__item">List item 4</li>
          <li class="list__item">List item 5</li>
          <li class="list__item">List item 6</li>
        </ul>
      </div>
    </div>
    <div class="collapsible collapsible--expanded">
      <header class="collapsible_header">
        <h2 class="collapsible__heading">Company</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="list__item">List item 2</li>
          <li class="list__item">List item 1</li>
          <li class="list__item">List item 3</li>
          <li class="list__item">List item 4</li>
          <li class="list__item">List item 5</li>
          <li class="list__item">List item 6</li>
        </ul>
      </div>
    </div>
    <div class="collapsible collapsible--expanded">
      <header class="collapsible_header">
        <h2 class="collapsible__heading">Domains</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="list__item">List item 2</li>
          <li class="list__item">List item 1</li>
          <li class="list__item">List item 3</li>
          <li class="list__item">List item 4</li>
          <li class="list__item">List item 5</li>
          <li class="list__item">List item 6</li>
        </ul>
      </div>
    </div>
    <div class="collapsible collapsible--expanded">
      <header class="collapsible_header">
        <h2 class="collapsible__heading">Support</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="list__item">List item 2</li>
          <li class="list__item">List item 1</li>
          <li class="list__item">List item 3</li>
          <li class="list__item">List item 4</li>
          <li class="list__item">List item 5</li>
          <li class="list__item">List item 6</li>
        </ul>
      </div>
    </div>
    <div class="footer__brand">
      <img src="images/logo.svg" alt="" srcset="" />
      <p class="footer__copyrights">Copyright &copy; 2020 Mosh</p>
    </div>
  </div>
</footer>
