<ul class="list list--inline">
  <li class="list__item">List item 2</li>
  <li class="list__item">List item 1</li>
  <li class="list__item">List item 3</li>
  <li class="list__item">List item 4</li>
  <li class="list__item">List item 5</li>
  <li class="list__item">List item 6</li>
</ul>
<ul class="list list--tick">
  <li class="list__item">List item 2</li>
  <li class="list__item">List item 1</li>
  <li class="list__item">List item 3</li>
  <li class="list__item">List item 4</li>
  <li class="list__item">List item 5</li>
  <li class="list__item">List item 6</li>
</ul>
