<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Lorem ipsum dolor sit</h3>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, laborum
      voluptate distinctio cumque beatae inventore ipsam qui earum? Iusto
      ducimus nostrum odio repellat vel adipisci nesciunt illo, expedita
      aspernatur temporibus?
    </p>
  </div>
</div>
