<section class="showcase block block--dark block--skewed-right">
    <header class="block__header showcase__content">
      <h2 class="showcase__heading">Cloud Hosting For Pros</h1>
    </header>
    <div class="container grid grid--1x2">
      <picture class="showcase__image"><img  src="images/ipad.png" /></picture>
     
        
      <div class="showcase__content">
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#snap"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Lorem ipsum dolor</h3>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, laborum
              voluptate distinctio cumque beatae inventore ipsam qui earum? Iusto
              ducimus nostrum odio repellat vel adipisci nesciunt 
          </div>
        </div>

        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#snap"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Lorem ipsum sit</h3>
            <p>
              Lorem ipsum dolor sit, ame ipsam qui earum? Iusto
              ducimus nostrum odio repellat vel adipisci nesciunt illo, expedita
              aspernatur temporibus?
            </p>
          </div>
        </div>
        
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#snap"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Lorem ipsum dolor sit</h3>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, laborum
              voluptate distinctio cumque beatae inventore ipsam qui earum? Iusto
              ducimo, expedita
              aspernatur temporibus?
            </p>
          </div>
        </div>
        

      </div>
    </div>
  </section>